# Environment variables for 'dhis2_init' container

DHIS2_DATABASE_HOST: host.docker.internal  # Use host database
DHIS2_DATABASE_PASSWORD=
DHIS2_INIT_SKIP: 20_dhis2-initwar.sh  # String like "item1.sh,item2.sh"